.header {
	background-color: #000;
	height: 100px;
	display: block;
}
h1 {
	padding-top: 30px;
  padding-left: 20px;
	color: white;
}
a {
	color: white;
}
nav {
	display: inline-block;
	margin-left: 70%;
}